# Prerequisites
*.d

# Object Files
*.o
*.ko
*.obj

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# CMake artifacts
/build/CMakeFiles/*.*
/build/CMakeTmp/*.*
/build/cmake*.*
/build/*.ninja*
/build/*.json
/build/*.ld

# CubeMX
*.mxproject
Makefile

# VSCode